<div class="container">    
    <div class="row">

      <div class="card-home">
        <div class="card">
          <div class="card-header">
            Menu
          </div>
          <div class="card-body">
            
            <div class="row">
                
                <!-- Novos Chamados -->
                <div class="col-6 d-flex justify-content-center" title="Novos Chamados">
                    <a href="#">
                        <img src="../img/formulario_abrir_chamado.png" width="70" height="70">
                    </a>
                </div>
                
                <!-- Chamados Finalizados -->
                <div class="col-6 d-flex justify-content-center" title="Chamados Finalizados">
                    <a href="#">
                        <img src="../img/formulario-chamdos-finalizados.png" width="70" height="70">
                    </a>
                </div>

            </div>

            <div class="row" style="margin-top: 5%;">
                
                <!-- Todos os Chamados -->
                <div class="col-6 d-flex justify-content-center" title="Todos os chamados">
                    <a href="#">
                        <img src="../img/formulario_consultar_chamado.png" width="70" height="70">
                    </a>
                </div>
                
                
                <!-- Chamados Aguardando Retorno -->
                <div class="col-6 d-flex justify-content-center" title="Chamados Aguardando Retorno">
                    <a href="#">
                        <img src="../img/formulario-chamados-retorno.png" width="70" height="70">
                    </a>
                </div>

            </div>

            <div class="row" style="margin-top: 5%;">
                    
                    <!-- Lista de Usuários -->
                    <div class="col-12 d-flex justify-content-center" title="Lista de Usuários">
                        <a href="lista_usuarios.php">
                            <img src="../img/formulario-lista-usuarios.png" width="70" height="70">
                        </a>
                    </div>
                    
            </div>

          </div>
        </div>
      </div>
  </div>
</body>
</html>