<div class="container">    
    <div class="row">

      <div class="card-abrir-chamado">
        <div class="card">
          <div class="card-header">
            Conversa - Nº <? echo $dados[0]; ?>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                
                <form method="POST" action="../action/editando_chamado.php?chamado=<? echo $dados[0]; ?>">
                  <div class="form-group">
                    <label>Título</label>
                    <input name="titulo" type="text" class="form-control" placeholder="Título" readonly value="<? echo $dados[1]; ?>">
                  </div>
                  
                  <div class="form-group">
                    <label>Categoria</label>
                    <input name="categoria" type="text" class="form-control" placeholder="Categoria" readonly value="<? echo $dados[2]; ?>">    
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label>Descrição</label>
                    <textarea name="descricao" class="form-control" rows="3" readonly><? echo $dados[3]; ?></textarea>
                  </div>

                  <div class="card card-default" style="text-align: right">
                      <div class="card-header">Admin</div>
                      <div class="card-body">Não conseguimos replicar o problema!</div>
                  </div>

                  <div class="card card-default" style="margin-top: 10px">
                      <div class="card-header">Você</div>
                      <div class="card-body">Vá procurar o que fazer!</div>
                  </div>

                  <div style="margin-top: 10px">
                      <div class="input-group">
                          <textarea rows="5" style="margin-top: 10px;" class="form-control" placeholder="Escreva..." ></textarea>
                      </div>
                  </div>

                  <div class="row mt-5">
                    <div class="col-6">
                      <button class="btn btn-lg btn-warning btn-block" type="submit">Voltar</button>
                    </div>

                    <div class="col-6">
                      <button class="btn btn-lg btn-info btn-block" type="submit">Responder</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
