<div style="margin-top: 10px">
    <div class="input-group">
        <textarea name="msg" rows="5" style="margin-top: 10px;" class="form-control" placeholder="Escreva..."></textarea>
    </div>
</div>

<div class="row mt-5">
    <div class="col-6">
        <button class="btn btn-lg btn-warning btn-block" type="submit">Voltar</button>
    </div>

    <div class="col-6">
        <button class="btn btn-lg btn-info btn-block" type="submit">Responder</button>
    </div>
</div>
</form>

</div>
</div>
</div>
</div>
</div>
</div>
</body>

</html>