<div class="chamados card mb-3 bg-light" id="<? echo $dados[0]; ?>">
    <div class="card-body">
        <h5 class="card-title"><? echo $dados[1]; ?></h5>
        <h6 class="card-subtitle mb-2 text-muted"><? echo $dados[2]; ?></h6>
        <p class="card-text"><? echo $dados[3]; ?></p>
        <div class="text-right" >
            <a class="edit" href="#" title="Responder Chamado">
                <img src="../img/editar.ico" width="30" height="30">
            </a>
            <a class="finalizar" href="#" title="Finalizar Chamado">
                <img src="../img/finalizar.png" width="40" height="40">
            </a>
        </div>
    </div>
</div>
